<div class="container mt-4">
  <h1 class="mb-4">Créditos</h1>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Projeto</h2>
      <p class="card-text">
        Feito para o curso de desenvolvimento front-end do IFRN - Campus
        Parnamirim - 2023.2
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">GitHub</h2>
      <p class="card-text">
        Meu GitHub:
        <a href="https://github.com/Everbero" target="_blank">Everbero</a>
      </p>
    </div>
  </div>
  
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">APIs</h2>
      <p class="card-text">
        Bing Image Search API:
        <a
          href="https://learn.microsoft.com/en-us/bing/search-apis/bing-image-search/overview"
          target="_blank"
          >Documentação</a
        >
      </p>
      <p class="card-text">
        Tabela FIPE:
        <a href="https://deividfortuna.github.io/fipe/" target="_blank"
          >Documentação</a
        >
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Principais Bibliotecas</h2>
      <p class="card-text">
        Chart.js:
        <a
          href="https://www.chartjs.org/docs/latest/getting-started/installation.html"
          target="_blank"
          >Documentação</a
        >
      </p>
      <p class="card-text">
        Angular Font Awesome:
        <a
          href="https://github.com/FortAwesome/angular-fontawesome/tree/master"
          target="_blank"
          >Documentação</a
        >
      </p>
      <p class="card-text">
        Bootstrap:
        <a href="https://getbootstrap.com/" target="_blank">Documentação</a>
      </p>
    </div>
  </div>
</div>
