<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao App de Consulta de Preços!</h1>
    <p class="lead">Este aplicativo permite consultar o preço de veículos de acordo com a Tabela FIPE.</p>
    <hr class="my-4">
    <p>Aqui estão algumas funcionalidades:</p>
    <ul>
      <li>Consulte o valor de veículos, incluindo carros, motos e caminhões.</li>
      <li>Visualize a evolução dos preços ao longo dos anos através de gráficos interativos.</li>
      <li>Obtenha imagens dos veículos pesquisados usando a API de busca da Bing Image Search.</li>
    </ul>
    <p>Clique no botão abaixo para começar sua pesquisa.</p>
    <a routerLink="/pesquisa" class="btn btn-primary btn-lg">Ir para Pesquisa</a>
  </div>
</div>
